<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm</title>
    <link rel="stylesheet" href="static/stylesheets/confirmation.css">
</head>
<body>
    
    <div class="main">
        <ul class="main-form">
            <li class="title">
                <span class="main-title">Add Product</span>
                <span class="under_text">Fill out the form carefully</span>
            </li>
            <li class="input">
                <span>Name</span>
                <input type="text" name="name">
            </li>
            <li class="input">
                <span>Discription</span>
                <input class="prodDiscription" type="text" name="description">
            </li>
            <li class="input">
                <span>Price</span>
                <input type="number" name="price">
            </li>
            <li class="input">
                <span>Quantity</span>
                <input type="number" name="quantity">
            </li>
            <li class="input">
                <span>Category</span>
                <input type="text"  name="category">
            </li>
            <li class="input">
                <span>Image</span>
                <input class="files" type="text"  name="img"  >
            </li>
            <li class="button">
                <button type="button" id="btn">Submit</button>
            </li>

        </ul>
        
    </div>
    <script src="static/javascripts/sending.js"></script>

</body>
</html>