<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesheets/products.css">
    <title>Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="SearchOption">
        <div class="option">
            <button class="sort" id="sort" type="button">Sort</button>
        </div>

        <div class="option">
            <input class="opt" type="number" id="threshhold" placeholder="Less Than">
            <button class="Searchbtn" id="ths" type="button"><i class="fa fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="option">
            <input class="opt" type="Text" id="category" placeholder="Category">
            <button class="Searchbtn" id="ctg" type="button"><i class="fa fa-solid fa-arrow-right"></i></button>
        </div>
        <!-- add a section for tottal calculating and displaying plus button -->
        <div class="shop">
            <header>
                <label for="total">Total : </label>
                <span class="values" name="total" id="total"></span>
            </header>
            <button type="button" class="btnshop" id="verify"><a href="/packages"><span class="material-symbols-outlined">shopping_cart_checkout</span></a> </button>
        </div>

    </div>
    <div class="listOfproducts" id="Pd"></div>
    <script src="static/javascripts/product.js" type="text/javascript"></script>
    <script src="static/javascripts/basket.js" type="text/javascript"></script>
</body>
</html>