<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seller</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="static/stylesheets/seller.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        
        <div class="featueres">
            <h1>Welcome Back</h1>
            <div class="fs">
                <a href="http://localhost:3000/"><span class="material-symbols-outlined" id="logout">logout</span></a>
                <button type="button" id="add"><span class="material-symbols-outlined">add</span></button>
            </div>

        </div>
    </header>
    <table id="container">
        <tr class="columns">
            <th class="c1">Names</th>
            <th class="c2">Quantities</th>
            <th class="c3">Categories</th>
            <th class="c3">Delete</th>
        </tr>
        <script src="static/javascripts/seller.js"></script>
    </table>
    
    

    
</body>
</html>